<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Peticiones de amistad</h2>

		<p>Las peticiones de amistad que figuran en el sistema son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="request : ${friendRequests}">
						<td th:text="${request.requestingUser.name}">Nombre del Requesting User</td>
						<td><a th:href="${'/user/acceptRequest/' + request.requestingUser.id}">Aceptar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>