<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<div th:if="${listAction}" class="alert alert-success" >
  			<strong th:text="#{succesfull.user.list.message}">Has listado correctamente todos los usuarios.</strong> 
		</div>
		<h2 th:text="#{users.message}"></h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{findusers.placeholder.message}">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>

		<p th:text="#{users.info.message}"></p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th th:text="#{name.message}">Nombre</th>
						<th th:text="#{surname.message}">Apellidos</th>
						<th th:text="#{email.message}">E-mail</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.name}">Nombre del alumno</td>
						<td th:text="${user.lastName}">Apellidos del alumno</td>
						<td th:text="${user.email}">ejemplo@mail.com</td>
						
						<td th:each="request : ${loggedInUser.friendRequestsSent}"
							th:if="${request.requestedUser.id} == ${user.id}"
							name="celdaCancelaPeticion">
								<button type="submit" class="btn btn-warning" th:id="${'cancelRequestButton'+user.id}" th:text="#{cancel.message}">Cancelar</button>
						</td>
						<td th:each="request : ${loggedInUser.friendRequestsReceived}"
							th:if="${request.requestingUser.id} == ${user.id}"
							name="celdaAceptaPeticion">
								<button type="submit" class="btn btn-success" th:id="${'acceptRequestButton'+user.id}" th:text="#{accept.message}">Aceptar</button>
						</td>
						<td th:each="userNotFriend : ${usersNotFriends}"
							th:if="${userNotFriend.id} == ${user.id}"
							name="celdaAgregaAmigo">
								<button type="submit" th:id="${'friendRequestButton'+user.id}" class="btn btn-primary" th:text="#{add.message}">Agregar</button>
								<script th:inline="javascript">
                                /*<![CDATA[*/
                                    $( "#friendRequestButton[[${user.id}]]").click(function(){
                                    	$.get("/user/sendFriendRequest/[[${user.id}]]",function(data) {
											var numberPage = [[${param.page}]];
											var urlUpdate = '/user/list/update';
											if ( numberPage != null ){
												urlUpdate += "?page="+numberPage[0];
											} 
											$("#tableUsers").load(urlUpdate);
										});
                                    });
                                /*]]>*/
                            </script>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>